/brokerChain/obj/Debug/netcoreapp2.1/brokerChain.AssemblyInfo.cs
/brokerChain/obj/Debug/netcoreapp2.1/brokerChain.AssemblyInfoInputs.cache
/brokerChain/obj/Debug/netcoreapp2.1/brokerChain.assets.cache
/brokerChain/obj/Debug/netcoreapp2.1/brokerChain.csproj.CoreCompileInputs.cache
/brokerChain/obj/Debug/netcoreapp2.1/brokerChain.csproj.FileListAbsolute.txt
/brokerChain/obj/Debug/netcoreapp2.1/brokerChain.csprojAssemblyReference.cache
/brokerChain/obj/Debug/netcoreapp2.1/brokerChain.dll
/brokerChain/obj/Debug/netcoreapp2.1/brokerChain.pdb
/brokerChain/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/brokerChain/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/brokerChain/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/brokerChain/bin/Debug/netcoreapp2.1/brokerChain.deps.json
/brokerChain/bin/Debug/netcoreapp2.1/brokerChain.dll
/brokerChain/bin/Debug/netcoreapp2.1/brokerChain.pdb
/brokerChain/bin/Debug/netcoreapp2.1/brokerChain.runtimeconfig.dev.json
/brokerChain/bin/Debug/netcoreapp2.1/brokerChain.runtimeconfig.json
/brokerChain/obj/brokerChain.csproj.nuget.cache
/brokerChain/obj/brokerChain.csproj.nuget.g.props
/brokerChain/obj/brokerChain.csproj.nuget.g.targets
/brokerChain/obj/project.assets.json
